:root {
    --color1: black;
    --color2: rgb(0,0,0);
    --color3: rgb(0,0,0);
    --color4: rgb(0,0,0); /*color palette*/
}

* {
    font-family:poppins; /*change later*/
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
/*Preload Images*/
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(Images/main-background4.jpg) url(Images/main-background2.jpg);
}
/* Scroll bars */
::-webkit-scrollbar {
    background-color:rgb(10,10,10);
}
::-webkit-scrollbar-thumb {
    background-color:rgba(111,78,55,0.5);
    border-radius:50px;
}
.media-scroll::-webkit-scrollbar {
    background-color:rgba(255,255,255,0.2);
    border-radius:150px;
}
.media-scroll::-webkit-scrollbar-thumb {
    border-radius:150px;
    background-color:rgba(0,0,0,0.9);
}
a:hover {
    color:none;
    text-decoration:none;
}
body,html {
    height:100%;
    width:100%;
    margin: 0;
    scroll-behavior: smooth;
}
main {
    height:100%;
    width:100%;
}
/* Navigation bar */
nav ul {
    display: flex;
    align-items: center;
    height:100%;
}
#logo {
    height:65px;
    margin-right:30px;
    margin-left:10px;
}
nav {
    padding: 0px 20px !important;
    background-color: black;
    position:fixed;
    height:80px;
}
.nav-item {
    height:100%;
    width:100px;
    display:flex;
    justify-content: center;
}
#menu-nav {
    display:none;
}
#nav-section {
    opacity: 0;
    position:fixed;
    z-index:4;
    display:flex;
    justify-content: center;
    height:0px;
    background-color:black;
    width:100%;
    transition:1s;
}
#nav-section-elements {
    display:none;
    margin: 80px 0px;
    height:100%;
    width:100%;
    list-style-type: none;
    padding: 0;
}
.responsive-nav-item {
    margin: 0 auto;
    padding:none;
    width:100%;
    text-align:center;
    height:30px;
    color:white !important;
}
.nav-hr {
    color:white;
    background-color:white;
    width:50%;
}
.last-nav-item {
    width:50%;
    padding: 0px;
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
}
.media-nav-item {
    width:50px;
    height:40px;
}
.second-nav li {
    width:50px;
}
.second-nav li a:hover {
    cursor:pointer;
}
.nav-link {
    background-color:black;
    display:flex !important;
    align-items: center;
    cursor:pointer;
    height:100%;
    color:white;
    text-decoration: none;
    font-size:1.15em;
}
.nav-link:hover {
    background-color: rgb(40,40,40);
    color:white;
    text-decoration:none;
}
/**/
#main-page {
    transition:3s;
    background:url("Images/main-background6.jpg");
    transition-timing-function:ease-in-out;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position-y:bottom;
    background-position-x:center;
    height:100vh;
    position:relative;
    min-height:400px;
}
.layer {
    background-color: rgba(0,0,0,0.6);
    width:100%;
    height:100%;
}
#right-bar {
    min-height:400px;
    position:absolute;
    height:100vh;
    right:0;
    width:35%;
    transition:2s;
    background-color:rgba(180,180,180,0.3);
    font-size:15px;
}
#right-bar:hover {
    background-color:rgba(180,180,180,0.4);
    width:40%;
    transition: 2s;
}
#slogan {
    position:absolute;
    bottom:5%;
    left:3%;
    opacity:0.6;
    font-family:DM Serif display;
    font-size:1.8em;
    color:white;
    text-align:center;
}
#middle-part {
    position:absolute;
    left:20%;
    top:48%;
    font-size:16px;
}
.waiting {
    font-family:dm serif display;
    font-size:2.3em;
    color:rgba(255,255,255);
    text-align:center;
}
.order-now {
    transition:1s;
    width:fit-content;
    margin: 0 auto;
    text-align:center;
    background-color: rgba(0,0,0,0.5);
    color:white;
    padding: 5px 20px 5px 20px;
    font-size:1.5em;
    font-family: DM SERIF DISPLAY;
    border: 2px solid white;
    cursor:pointer;
}
.order-now:hover {
    transition:1s;
    background-color:rgba(255,255,255,0.5);
    color:black;
}
.order-now a {
    text-decoration:none;
    color:inherit;
    font-family: inherit;
}
.order-now a:hover {
    color:inherit;
    text-decoration:none;
}
#welcome {
    text-shadow: 2px 2px gray;
    font-family:Calligraffitti;
    color:white;
    font-size:3em;
    text-align:center;
    margin: 150px auto 0 auto;
}
.bar-heading {
    font-size: 1.7em;
    margin-left:30px;
    font-family:DM serif display;
    color: rgb(208,187,148);
    margin-top:50px;
}
.bar-paragraph {
    width:30vw;
    text-align:justify;
    margin-left:40px;
    font-size:1.2em;
    color: rgb(220,220,220);
    margin-top:20px;
}
.about-section {
    height:30%;
}
#second-page {
    overflow:hidden;
    width:100%;
    background: linear-gradient(
        45deg,
        rgb(161,130,98),
        rgb(111,78,55)
    );
}
#best-seller-heading {
    text-transform: uppercase;
    text-align: center;
    font-size:70px;
    color:white;
    font-family: dm serif display;
    margin: 100px auto 10px auto;
    text-shadow: 2px 2px gray;
}
#best-seller-line {
    max-width:1300px;
    height:2px;
    background-color:rgba(255,255,255,0.2);
    position:relative;
    width:100%;
}
.best-seller-box {
    margin-bottom: 5px;
    width:100%;
    height:35vh;
    background-position: center !important;
    background-size:cover !important;
}
.best-seller-name {
    font-family: dm serif display;
    font-size:30px;
    color:rgba(255,255,255,0.5);
    text-transform: uppercase;
}
.layer2 {
    background-color: rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    transition:1s;
    display:flex;
    align-items: center;
    justify-content: center;
}
.layer2:hover {
    background-color: rgba(0,0,0,0.5);
    transition:1s;
}
.check {
    background-color:blue;
}
#burger {
    background: url("Images/burger.jpg") no-repeat;

}
#wings {
    background: url(Images/wings2.jpg) no-repeat;
}
#steak {
    background: url(Images/steak.jpg) no-repeat;

}
#salmon {
    background: url(Images/salmon.jpg) no-repeat;

}
.media-scroll {
    max-width:1300px;
    display:grid;
    grid-auto-flow:column;
    grid-auto-columns:40%;
    gap:0.1rem;
    overflow-x:auto;
    margin: 20px auto;
}
#reviews-heading {
    color: burlywood;
    text-align:center;
    font-size:30px;
    margin:100px 0 40px;
    text-shadow: 1px 1px gray;
}
.carousel {
    margin: 0 auto 100px auto;
    width:60%;
}
.review-box {
    font-size:20px;
    background-color: rgba(111,78,55,0.8);
    margin: 0 auto;
    border-radius: 50px;
    height:400px;
    width:700px;
}
.pfp {
    width:70px;
    height:70px;
    border-radius:50%;
    margin: 0 auto;
    position:relative;
    top:30px;
}
.first-review {
    background: url("Images/pfp1.jpg");
    background-position: 40% 4%;
    background-size:130px;

}
.second-review {
    background: url("Images/pfp2.jpg");
    background-position: 40% 40%;
    background-size:130px;

}
.third-review {
    background: url("Images/pfp3.jpg");
    background-position: 50% 40%;
    background-size:120px;

}
.review-par {
    height:170px;
    width:95%;
    margin: 0 auto;
    text-align:center;
    margin-top:70px;
    font-size:1.1em;
    color:burlywood;
}
.reviewer-name {
    margin: 0 auto;
    text-align:center;
    color:white;
    font-size:1em;
}
#footer {
    position:absolute;
    z-index: 1;
    background-color:black;
    font-size:30px;
    width:100%;
    font-family:poppins;
    color:white;
}
#footer-logo {
    width:120px;
    margin: 0 auto;
    padding:20px 0;
    display:block;
}
.footer-heading {
    font-size:0.5em;
    margin-top:20px;
}
#footer p {
    font-size:0.5em;
    color:gray;
}
/*Menu Styles */
#right-nav-wrap {
    display:none;
    width:25%;
    justify-content: space-between;
}
#popup {
    z-index:-100;
    transition: opacity 1s;
    display:flex;
    height:100vh;
    width:100%;
    background-color:rgba(0,0,0,0.9);
    position:fixed;
    opacity:0;
    justify-content:center;
    align-items: center;
}
#popup-box {
    position: relative;
    background-color: rgb(161,130,98);
    width: 750px;
    height: 500px;
    display:flex;
    flex-direction: column;
}
#popup-image {
    width:100%;
    margin: 30px 0;
}
#popup-cancel {
    position:absolute;
    top:1%;
    right:1%;
    cursor:pointer;

}
#popup-message {
    text-align:center;
    background-color:rgb(102, 71, 51);
    height:max-content;
    height:100%;
    color:white;
    font-size:20px;
    display:flex;
    justify-content: center;
    padding: 0 100px;
    align-items: center;

}
.menu-page {
    height:auto;
    padding-bottom:80px;
    min-height:100%;
    width:100%;
    background-color: rgb(161,130,98); /*Change later*/
}
#category-bar {

    z-index:1;
    position:fixed;
    width:200px;
    height:100%;
    background-color: rgb(102, 71, 51); /*Change later*/
    display:flex;
    flex-direction:column;
}
#responsive-category-bar {
    z-index: 1;
    background-color: rgb(137, 96, 67);
    padding-top:100px;
    display:none;
    padding-bottom:20px;
}
#responsive-elements {
    width: 95%;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
.responsive-category {
    margin: 0 auto;
    width: 100px;
    font-size:2.1vw;
    display:flex;
    justify-content: center;
    color:black !important;
    background-color: rgb(208,187,148);
    border-radius: 50px;

}
.category {
    font-size:18px;
    padding-top:40px;
    padding-bottom:40px;
    cursor:pointer;
    text-decoration:none;
    padding-left:30px;
    color: beige!important;
    font-weight:500;
    letter-spacing: 1px;
    display:flex;
}
.category:first-child {
    margin-top:80px;
}
.category:hover {
    background-color:rgba(111,78,55,0.9);
}
#cart-button-section {
    display:block;
    background-color:#00c04b;
    border-radius:20px;
    width:80px;
    padding: 5px 0;
    margin-right:20px;
    transition:0.5s;
}
#cart-button-section:hover {
    background-color:rgb(0, 128, 49);
    color:white;
    transition:0.5s;
}
#cart-li {
    display:flex;
    justify-content: space-evenly;
}
#items-section {
    height: auto !important;
    width:98%;
    padding-top:150px;
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    padding-left:300px;
}
.card {
    width:400px !important;
    height:300px;
    margin-bottom:30px;
    border:none !important;
    background-color:inherit !important;
}
.card-body {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 12px 12px rgba(111,78,55,0.3);
    border: none;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#0a0703 !important;
}
.card-img-top {
    height:80%;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    box-shadow: 12px 12px rgba(111,78,55,0.3);
    background-repeat: no-repeat;
    background-size:400px;
    background-position:center;
    transition:2s !important;
}
.card-text {
    color:burlywood;
}
#check-out-bar {
    z-index:3;
    color:white;
    padding-top:82px;
    width:0px;
    position: fixed;
    right:0%;
    background-color: rgba(0,0,0,0.9);
    height:100%;
    transition:1s;
}
.opened-check-out-bar {
    transition: 1.5s !important;
    width:400px !important;
}
.opened-check-out-bar::-webkit-scrollbar {
    background-color:white;
    width:10px;
}
.card-img-top:hover {
    background-size:500px;
    transition:2s !important;
}
.right-part-card {
    display:flex;
    justify-content: space-between;
    width:25%;
}
.bi-three-dots {
    position:relative;
    background-color:white;
    border-radius:30%;
    cursor:pointer;
}
.info-button {
    font-weight:900;
    margin-right:10px;
    position:relative;
    background-color:white;
    border-radius: 10px;
    cursor:pointer;
    padding: 0 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.info-button:hover {
    background-color: rgb(50,50,50);
    color:white;
    transition:0.5s;
}
.add-button {
    background-color: #00c04b;
    color:white;
    border-radius:10px;
    cursor:pointer;
    padding: 4px 8px;
    transition: 0.5s;
}
.add-button:hover {
    background-color: rgb(0, 128, 49);
    transition:0.5s;
}
.bbq-burger-card {
    background-image : url(Images/burger.jpg);
}
.salmon-card {
    background-image: url(Images/salmon.jpg);
}
.shrimp-card {
    background-image: url(Images/shrimp.jpg);
}
.beef-kebab-card {
    background-image: url(Images/beef-kabab.jpg);
}
.chicken-kebab-card {
    background-image: url(Images/chicken-kabab.jpg);
}
.chicken-wings-card {
    background-image: url(Images/wings2.jpg);
}
.sausage-card {
    background-image: url(Images/sausage.jpg);
    background-size:105%;
}
.ceaser-salad-card {
    background-image: url(Images/ceaser-salad.jpg);
}
.tomato-salad-card {
    background-image: url(Images/tomato-salad.jpg);
}
.onion-rings-card {
    background-image: url(Images/onion-rings.jpg);
}
.fries-card {
    background-image: url(Images/fries.jpg);
}
.wedges-card {
    background-image: url(Images/wedges.jpg);
}
.steak-card {
    background-image: url(Images/steak.jpg);
}
.garlic-bread-card {
    background-image: url(Images/garlic-bread.jpg);
}
.french-toast-card {
    background-image: url(Images/french-toast.jpg);
}
.crepe-card {
    background-image: url(Images/crepe.jpg);
}
.cheese-cake-card {
    background-image: url(Images/cheesecake.jpg);
}
.lava-cake-card {
    background-image: url(Images/lava-cake.jpg);
}
.card-description {
    background-color: rgba(255,255,255,0.6);
    height:100%;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    transition: 2s;
    text-overflow: clip;
    width:0%;
}
.card-description-text-heading, .card-description-text-p {
    padding-top:10px;
    margin-left:30px;
    width:350px;
    opacity:0;
    transition:1s;
    color:black;
}
.card-description-text-heading {
    font-size:22px;
}
.card-description-text-p {
    font-size: 14px;
}
.card-price {
    color:#00c04b;
    background-color:rgba(0,0,0,0.9);
    border-radius:5px;
    padding: 0 10px;
}
.opened-description {
    transition:2s;
    width: 100% !important;
}
.opened-text {
    opacity: 1;
    transition-delay: 0.5s !important;
    transition:1s;
}
/*check-out elements*/
.check-out-card {
    margin-bottom:5px;
    display:block;
    width:100%;
    height:100px;
    border: 1px solid white;
}
.check-out-image-section{
    float:left;
    width:180px;
    height:100%;
}
.check-out-option-section {
    position: relative;
    right:10px;
    width:430px;
    height:300px;
}
.check-out-heading {
    position:relative;
    top:5px;
    font-size:25px;
}
.check-out-image {
    border-right: 1px solid white;
    object-fit: cover;
    width:150px;
    height:95px;
}
.check-out-price {
    font-size:20px;
    color:#00c04b;
}
#check-out-button {
    z-index:3;
    text-align:center;
    color:white;
    background-color:#00c04b;
    position:fixed;
    bottom:0%;
    width:400px;
    height:60px;
    font-size:25px;
    transition: 0.5s;
    cursor:pointer;
}
#price-part-check-out {
    color:black;
    font-size:16px;
    position:relative;
    bottom:20px;
}
#check-out-button:hover {
    background-color:rgb(0, 230, 88);
    transition: 0.5s;
}
.item-quantity {
    color:rgb(210,210,210);
    position:relative;
    bottom:10px;
    font-size:12px;
}
/*Contact page */
#contact-page {
    width:100%;
    background-color:burlywood;
    display:flex;
    min-height: 100vh;
    align-items: center;
}
#contact-information-section {
    font-size:0.9em;
    margin-left:10px;
    margin-top:20px;
}
#opening-hours-heading, #contact-heading, #message-heading {
    margin-bottom: 20px;
    text-shadow: 1px 1px rgb(111,78,55);
}
#opening-hours-heading {
    margin-top:150px;
}
#opening-hours-par {
    font-size: 0.9em;
    margin-left:5px;
}
#contact-logo {
    height:300px;
    display:flex;
    align-items: center;
}
#contact-picture {
    width:100%;
    height:fit-content;
}
/*Contact Input CSS*/
fieldset {
    display:block;
    width:500px;
    margin: 0 auto;
}
#contact-button {
    border:none;
    box-shadow: 0px 3px rgb(161,130,98);
    background-color: white;
    font-size:18px;
    font-weight:900;
    border-radius:5px;
    margin-top:20px;
    transition: background-color 0.5s;
}
#contact-button:hover {
    background-color:rgba(0,0,0,0.9);
    transition:0.5s;
    color:white;
}
#name-labels {
    display:flex;
    justify-content:space-between;
}
input, textarea {
    display: block;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px rgb(111,78,55);
}
#contact-textarea {
    height:100px;
    width:100%;
}
#email-label {
    width:100%;
}
#contact-textarea, #email-input {
    width:100%;
    resize:none;
}
#first-name-label, #last-name-label {
    width:45%;
}
#name-input, #last-name-input {
    width:100%;
}
.row {
    width:100%;
    justify-content: center;
}
#contact-logo {
    display:flex;
    justify-content: center;
}
#email-label, #message-label {
    display:block;
    margin-top:20px;

}
@media (max-width:1600px) {
    .sausage-card {
        background-size:325px !important;
    }
    #items-section {
        padding-left:200px;
    }
    .card-description-text-heading, .card-description-text-p {
        width: 250px;
    }
    .right-part-card {
        width:30%;
    }
    #category-bar {
        width:150px;
    }
    #category-bar a {
        font-size: 12px;
    }
    .card {
        width:300px !important;
        height:250px;
    }
    .card-img-top {
        background-repeat: no-repeat;
        background-size:320px;
        background-position:center;
        transition:2s !important;
    }
    .info-button {
        width:30px;
        font-size:13px;
    }
    .add-button {
        width:50px;
        font-size:12px;
    }
    .card-img-top:hover {
        background-size:380px !important;
        transition:2s !important;
    }
}
@media (max-width:1300px) {
    #items-section {
        padding-left:200px;
    }
    #right-bar {
        font-size:13px;
    }
    #slogan {
        font-size:1.4em;
    }
    #middle-part {
        left:15%;
        font-size:14px;
    }
    .carousel {
        width:100%;
    }
}
@media (max-width:1200px) {
    #contact-logo {
        height:200px;
    }
    #contact-picture {
        width:60%;
        margin-top:150px;
        
    }
}
@media (max-width:1150px) {
    .right-part-card {
        width:40%;
    }
    .card-text {
        font-size:10px;
    }
    #items-section {
        padding-left:200px;
    }
    .card {
        width:200px !important;
        height: 150px !important;
    }
    .card-body {
        height:15px !important;
    }
    .card-description-text-heading, .card-description-text-p {
        position:relative;
        width: 180px;
        margin-left:20px;
    }
    .card-description-text-p {
        margin-top:0;
        font-size:10px;
        bottom:10px;
    }
    .card-description-text-heading {
        font-size:14px;
    }
    .card-description-text-heading:last-of-type{
        bottom: 20px;
    }
    .card-img-top {
        background-size:220px;
    }
    .card-img-top:hover {
        background-size:275px;
    }
    .info-button {
        width: 30px;
        font-size:10px;
    }
    .add-button {
        width:40px;
        font-size:10px;
    }
    #right-bar {
        font-size:12px;
    }
    #right-bar:hover {
        width:40%;
    }
    #middle-part {
        left:13%;
        font-size:13px;
    }
}
@media (max-width:1000px) {
    #opening-hours-heading {
        margin-top:20px;
    }
    #contact-page {
        padding-top:100px;
    }
    #contact-us-section {
        margin-bottom: 0px;
    }
    #contact-us-section, #contact-input-section {
        text-align: center;
    }
    #contact-image-section {
        padding-bottom:150px;
    }
    form {
        display:flex;
        justify-content: center;
    }
    .opened-check-out-bar {
        width:300px !important;
    }
    #check-out-button {
        width:300px !important;
    }
    .media-scroll {
        grid-auto-columns:46%;
    }
    #footer {
        font-size: 25px;
    }
}
@media (max-width:900px) {
    #popup-image-wrap {
        height:450px !important;
        display:flex;
        align-items: center;
    }
    #popup-box {
        width:90%;
        height:57vh;
    }
    #popup-message {
        padding:0px 5px;
        font-size:2.8vw;
        height:120px;
    }
    #reviews-heading {
        margin-top:40px;
    }
    #best-seller-heading {
        font-size:3em;
    }
    .bar-paragraph {
        margin-left:20px;
    }
    .bar-heading {
        margin-left:10px;
    }
    #middle-part {
        left:8%;
        font-size:13px;
    }
    .review-box {
        font-size:16px;
        width:500px;
        height:330px;
    }
    .review-par {
        height:110px;
    }
}
@media (max-width:800px) {
    #right-nav-wrap {
        display:flex;
    }
    #menu-nav {
        display:block;
    }
    #items-section {
        padding-left: 20px;
    }
    .nav-item, .second-nav {
        display:none !important;
    }
    #best-seller-heading {
        margin-top:20px;
    }
    #logo {
        height:60px;
    }
    .media-scroll {
        grid-auto-columns:60%;
    }
    #main-page {
        height:70vh;
    }
    #right-bar {
        height:70vh;
        font-size:9px;
    }
    #slogan {
        bottom:5%;
    }
    #middle-part {
        top:45.6%;
    }
    .bar-heading {
        margin-top:20px;
    }
    .bar-paragraph {
        margin-top:5px;
    }
    #welcome {
        margin: 100px auto 0 auto;
    }
    #category-bar {
        display:none;
    }
    #items-section {
        padding-top:30px;
    }
    #responsive-category-bar {
        display:flex;
    }
    .card {
        margin: 10px auto;
    }
}
@media (max-width:700px) {
    #middle-part {
        font-size:11px;
    }
    #slogan {
        font-size:1.2em;
    }



}
@media (max-width:600px) {
    
    #reviews-heading {
        font-size:20px;
    }
    .bar-paragraph {
        font-size:1.05em;
    }
    #middle-part {
        font-size:9px;
    }
    .media-scroll {
        grid-auto-columns:80%;
    }
    .best-seller-name {
        font-size: 20px;
    }
    .review-box {
        font-size:14px;
        width:450px;
        height:300px;
    }
    .pfp {
        top:5%;
    }
    .review-par {
        margin-top:25px;
        height:100px;
    }
    #footer {
        font-size:20px;
    }
    #footer p {
        text-align:center;
    }
    .footer-heading {
        text-align:center;
    }
}
@media (max-width:500px) {
    #right-nav-wrap {
        width:40%;
    }
    .right-part-card {
        width:50%;
    }
    .card-text {
        font-size:7px;
        position: relative;
        left: -10px;
    }
    .card {
        width:140px !important;
        height: 100px !important;
    }
    .card-img-top {
        background-size:150px;
    }
    .card-img-top:hover {
        background-size:188px;
    }
    #right-bar {
        height:60vh;
        font-size:7.5px;
    }
    #second-page {
        overflow:hidden;
    }
    #slogan {
        font-size:1em;
    }
    .bar-paragraph {
        font-size:1em;
        text-align:left;
    }
    #middle-part {
        top:45%;
        font-size:8px;
    }
    #main-page {
        height:60vh;
    }
    #slogan {
        bottom:5%;
    }
    .review-box {
        font-size:12px;
        width:90%;
        height:250px;
    }
    .review-par {
        height:100px;
    }
    .card-description-text-heading, .card-description-text-p {
        width: 135px;
        margin-left: 4px;
    }
    .card-description-text-heading {
        font-size:9px;
    }
    .card-description-text-heading:last-child {
        position:relative;
        top: -30px;
    }
    .card-description-text-p {
        font-size:6px;
    }
    .info-button {
        width:20px;
        font-size: 7px;
    }
    .add-button {
        width:32px;
        font-size: 7px;
    }
    .card-img-top:hover {
        background-size:380px;
        transition:2s !important;
    }
}
@media (max-width:450px) {
    #middle-part {
        font-size:7px;
    }
    .bar-paragraph {
        width:29vw;
    }
}
@media (max-width:350px) {
    .review-box {
    }
}