:root {
    --color1: black;
    --color2: rgb(0,0,0);
    --color3: rgb(0,0,0);
    --color4: rgb(0,0,0); /*color palette*/
}
* {
    font-family:poppins; /*change later*/
}
/* Scroll bars */
::-webkit-scrollbar {
    background-color:gray;
}
::-webkit-scrollbar-thumb {
    background-color:rgba(0,0,0,0.8);
    border-radius:50px;
}
.media-scroll::-webkit-scrollbar {
    background-color:rgba(255,255,255,0.2);
    border-radius:150px;
}
.media-scroll::-webkit-scrollbar-thumb {
    border-radius:150px;
}
a:hover {
    color:none;
    text-decoration:none;
}
body,html {
    margin: 0;
    scroll-behavior: smooth;
}
/* Navigation bar */
#logo {
    height:65px;
    margin-right:30px;
    margin-left:10px;
}
nav {
    background-color: black;
    position:fixed;
}
ul li {
    width:100px;
}
.menu {
    display:none;
}
.second-nav li {
    width:50px;
}
.second-nav li a:hover {
    cursor:pointer;
    
}
.nav-links {
    color:white;
    text-decoration: none;
    font-size:1.15em;
}
.nav-links:hover {
    color:white;
    text-decoration:none; /*change later*/
}
/**/
#main-page {
    transition:3s;
    background:url("Images/main-background6.jpg");
    transition-timing-function:ease-in-out;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position-y:bottom;
    background-position-x:center;
    height:100vh;
}
.layer {
    background-color: rgba(0,0,0,0.6);
    width:100%;
    height:100%;
}
#right-bar {
    position:absolute;
    height:100vh;
    right:0;
    width:35%;
    transition:2s;
    background-color:rgba(180,180,180,0.3);
    font-size:15px;
}
#right-bar:hover {
    background-color:rgba(180,180,180,0.4);
    width:40%;
    transition: 2s;
}
#slogan {
    position:absolute;
    bottom:5%;
    left:3%;
    opacity:0.6;
    font-family:DM Serif display;
    font-size:1.8em;
    color:white;
    text-align:center;
}
#middle-part {
    position:absolute;
    left:20%;
    top:48%;
    font-size:16px;
}
.waiting {
    font-family:dm serif display;
    font-size:2.3em;
    color:rgba(255,255,255);
    text-align:center;
}
.order-now {
    transition:1s;
    width:fit-content;
    margin: 0 auto;
    text-align:center;
    background-color: rgba(0,0,0,0.5);
    color:white;
    padding: 5px 20px 5px 20px;
    font-size:1.5em;
    font-family: DM SERIF DISPLAY;
    border: 2px solid white;
    cursor:pointer;
}
.order-now:hover {
    transition:1s;
    background-color:rgba(255,255,255,0.5);
    color:black;
}
#welcome {
    text-shadow: 2px 2px gray;
    font-family:Calligraffitti;
    color:white;
    font-size:3em;
    text-align:center;
    margin: 150px auto 0 auto;
}
.bar-heading {
    font-size: 1.7em;
    margin-left:30px;
    font-family:DM serif display;
    color: white;
    margin-top:50px;
}
.bar-paragraph {
    width:30vw;
    text-align:justify;
    margin-left:40px;
    font-size:1.2em;
    color: rgb(220,220,220);
    margin-top:20px;
}
.about-section {
    height:30%;
}
#second-page {
    overflow:auto;
    width:100%;
    height:100vh;
    background: linear-gradient(
        45deg,
        rgb(120,120,120),
        rgb(60,60,60)
    ); 
}
#best-seller-heading {
    text-transform: uppercase;
    text-align: center;
    font-size:70px;
    color:white;
    font-family: dm serif display;
    margin: 100px auto 10px auto;
    text-shadow: 2px 2px gray;
}
#best-seller-line {
    max-width:1500px;
    height:2px;
    background-color:rgba(0,0,0,0.5);
    position:relative;
    width:100%;
}
.best-seller-box {
    margin-bottom: 5px;
    width:100%;
    height:35vh;
    background-position: center !important;
    background-size:cover !important;
}
.best-seller-name {
    font-family: dm serif display;
    font-size:30px;
    color:rgba(255,255,255,0.5);
    text-transform: uppercase;
}
.layer2 {
    background-color: rgba(0,0,0,0.83);
    width:100%;
    height:100%;
    transition:1s;
    display:flex;
    align-items: center;
    justify-content: center;
}
.layer2:hover {
    background-color: rgba(0,0,0,0.5);
    transition:1s;
}
.check {
    background-color:blue;
}
#burger {
    background: url("Images/burger.jpg") no-repeat;

}
#wings {
    background: url(Images/wings.jpg) no-repeat;
}
#steak {
    background: url(Images/steak.jpg) no-repeat;

}
#salmon {
    background: url(Images/salmon.jpg) no-repeat;

}
.media-scroll {
    max-width:1500px;
    display:grid;
    grid-auto-flow:column;
    grid-auto-columns:40%;
    gap:0.1rem;
    overflow-x:auto;
    margin: 20px auto;
}

@media (max-width:1300px) {
    #right-bar {
        font-size:13px;
    }
    #slogan {
        font-size:1.4em;
    }
    #middle-part {
        left:15%;
        font-size:14px;
    }
}
@media (max-width:1150px) {
    #right-bar {
        font-size:12px;
    }
    #right-bar:hover {
        width:40%;
    }
    #slogan {
    }
    #middle-part {
        left:13%;
        font-size:13px;
    }
}
@media (max-width:1000px) {
    .media-scroll {
        grid-auto-columns:46%;
    }
}
@media (max-width:900px) {
    #best-seller-heading {
        font-size:3em;
    }
    .bar-paragraph {
        margin-left:20px;
    }
    .bar-heading {
        margin-left:10px;
    }
    #middle-part {
        left:8%;
        font-size:13px;
    }
}
@media (max-width:800px) {
    ul li {
        display:none !important;
    }
    .media-scroll {
        grid-auto-columns:60%;
    }
}
@media (max-width:700px) {/*
    .main-page {
        background-size:123vh;
    }*/
    
    #right-bar {
        width: 43%;
        font-size:11px;
    }
    #right-bar:hover {
        width:48%;
    }
    .bar-paragraph {
        width: 38vw;
    }
    #middle-part {
        left:5%;
        font-size:10px;
    }
    #slogan {
        font-size:1.2em;
    }
    

}
@media (max-width:600px) {
    #right-bar {
        font-size:10px;
    }
    #middle-part {
        font-size:9px;
    } 
    .media-scroll {
        grid-auto-columns:80%;
    }
    .best-seller-name {
        font-size: 20px;
    }
}
@media (max-width:500px) {
    #right-bar {
        font-size:9px;

    }
    #slogan {
        font-size:1em;
    }
    .bar-paragraph {
        width:36vw;
        text-align:left;
    }
    #middle-part {
        font-size:7px;
    }
    
}
@media (max-width:450px) {
    #middle-part {
        font-size: 6px;
    }
}